---
layout: default
---

{% include lang.html %}

<h1>Game Jam Entries</h1>

I have primarily participated in the <a href="https://godot-wild-jam.itch.io/">Godot Wild Jam</a>
and have had a blast doing it with some good friends. Feel free to check out these little
"bite-sized"
games and I hope they bring you a smile or two.
<br></br>
If I find the time for it, I will be doing some write-ups for the following Game Jam entries
with the hope of continuing on that <i>retrospective</i> style blog posts in the future.

You can check out those <i>retrospective</i> blog posts
<a href=/categories/game-jam-retrospectives/>here</a> to read more.

<iframe frameborder="0" src="https://itch.io/embed/1934623?bg_color=3a3a3a&amp;fg_color=d1d1d1&amp;link_color=fa5c5c&amp;border_color=949494" width="552" height="167">
	<a href="https://yakobjorgensen.itch.io/judis-journey">Judi's Journey by yakob, Rob Ruana</a>
</iframe>

<iframe frameborder="0" src="https://itch.io/embed/3275198?bg_color=ffffff&amp;fg_color=222222&amp;link_color=fa5c5c&amp;border_color=ca7777" width="552" height="167">
	<a href="https://jimmyc5.itch.io/super-bubble-bath-3d">Super Bubble Bath 3D by Jimmy C, yakob</a>
</iframe>

<iframe frameborder="0" src="https://itch.io/embed/3312211?bg_color=3c3c3c&amp;fg_color=ffffff&amp;link_color=fa5c5c&amp;border_color=3c3c3c" width="552" height="167">
	<a href="https://yakobjorgensen.itch.io/gameexe">game.exe by yakob</a>
</iframe>

<iframe frameborder="0" src="https://itch.io/embed/2376945?bg_color=3c3c3c&amp;fg_color=e0e0e0&amp;link_color=fa5c5c&amp;border_color=333333" width="552" height="167">
	<a href="https://yakobjorgensen.itch.io/house-of-mouse">House of Mouse by yakob, robbyg12</a>
</iframe>

<iframe frameborder="0" src="https://itch.io/embed/2480835?bg_color=202020&amp;fg_color=ffffff&amp;link_color=fa5c5c&amp;border_color=cccccc" width="552" height="167">
	<a href="https://yakobjorgensen.itch.io/electriload">Electriload by yakob</a>
</iframe>

<iframe frameborder="0" src="https://itch.io/embed/2590206?bg_color=626262&amp;fg_color=eaeaea&amp;link_color=fa5c5c&amp;border_color=585858" width="552" height="167">
	<a href="https://yakobjorgensen.itch.io/tropical-parasite">Tropical Parasite by yakob, nikwithak</a>
</iframe>
