---
layout: default
---

{% include lang.html %}

<h1>Game Jam Entries</h1>

I have primarily participated in the <a href="https://godot-wild-jam.itch.io/">Godot Wild Jam</a>
and have had a blast doing it with some good friends. Feel free to check out these little
"bite-sized"
games and I hope they bring you a smile or two.
<br></br>
If I find the time for it, I will be doing some write-ups for the following Game Jam entries
with the hope of continuing on that <i>retrospective</i> style blog posts in the future.

<iframe height="167" frameborder="0" src="https://itch.io/embed/1934623" width="552">
	<a href="https://yakobjorgensen.itch.io/judis-journey">Judi&#039;sJourney by yakob, Rob Ruana</a>
</iframe>

<iframe src="https://itch.io/embed/2376945" width="552" height="167" frameborder="0">
	<a href="https://yakobjorgensen.itch.io/house-of-mouse">House of Mouse by yakob, robbyg12</a>
</iframe>

<iframe height="167" frameborder="0" src="https://itch.io/embed/2480835" width="552">
	<a href="https://yakobjorgensen.itch.io/electriload">Electriload by yakob</a>
</iframe>

<iframe src="https://itch.io/embed/2590206" width="552" height="167" frameborder="0">
	<a href="https://yakobjorgensen.itch.io/tropical-parasite">Tropical Parasite by yakob, nikwithak</a>
</iframe>
